@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e8f4e8 !important;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Nunito", sans-serif;
}

img {
  width: 45%;
  max-width: 650px;
  min-width: 270px;
  margin-top: 15px;
}

h2 {
  font-size: 30px;
  @media (min-width: 640px) {
    font-size: 50px;
  }
  font-weight: bold;
}

h5 {
  font-size: 20px;
  @media (min-width: 640px) {
    font-size: 25px;
  }
}

.btn:hover {
  transform: translateY(-0.5rem) !important;
}