.admin-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: url("../images/admin-login.png") center/cover no-repeat;
}

.admin-login .admin-login-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(121, 211, 130, 0.4);
  backdrop-filter: blur(10px);
  margin: 0;
}

.admin-login .admin-login-bg .admin-login-form {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 2rem;
  border-radius: 20px;
  border: 2px solid rgba(70, 70, 70, 0.6);
  box-shadow: 0 0 25px rgb(39, 39, 40);
  text-align: center;
  margin: 0 auto;
  max-width: 50rem;
  color: var(--white);
}

.admin-login .admin-login-bg .admin-login-form h3 {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 3rem;
}

.admin-login .admin-login-bg .admin-login-form p {
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.admin-login .admin-login-bg .admin-login-form span {
  color: rgb(96, 162, 255);
}

.admin-login .admin-login-bg .admin-login-form .box {
  margin: 1rem 0;
  background-color: var(--light);
  padding: 1.4rem;
  color: var(--black);
  width: 100%;
}

.admin-login .password-container > span {
  color: #ffffff !important;
}

.user-update {
  background-color: var(--body);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-form,
.avatar-form {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 2rem;
  box-shadow: 0 0 10px var(--black);
  text-align: center;
}

.user-form {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.user-form h3 {
  font-size: 3rem;
  color: var(--black);
}

.user-form .box {
  margin: 1rem 0;
  background-color: var(--light);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
  border-radius: var(--border-radius);
}

.user-form .password-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-form .password-container > input {
  width: 100%;
  padding: 1.4rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.user-form .password-container > span {
  width: 15%;
  height: 75%;
}

.avatar-form {
  width: 50%;
  max-height: 95vh;
  background: linear-gradient(
    -150deg,
    rgba(64, 171, 70, 0.5),
    rgba(60, 132, 168, 0.6)
  );
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  overflow-y: auto;
}

.avatar-form h3 {
  justify-content: flex-start;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.avatar-form .user-image-avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.avatar-form .user-image-avatar img {
  width: 55%;
  min-width: 175px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: var(--border-radius);
}

.avatar-form .image-container {
  margin-top: 10px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.1rem;
  border-radius: var(--border-radius);
}

.avatar-form .image-container::-webkit-scrollbar {
  width: 8px;
}

.avatar-form .image-container label {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-form .input-hidden {
  display: none;
}

.avatar-form .image-container .user-image-options {
  transition: 300ms;
}

.avatar-form .image-container .avatar-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: 400ms linear;
  transform: translateZ(0);
}

.avatar-form .image-container .user-image-options:hover .avatar-container {
  background-size: 110%;
  transition: 300ms;
}

/* Add media query for responsiveness */
@media screen and (max-width: 768px) {
  .user-update {
    flex-direction: column; /* Change to column layout for small screens */
  }

  .user-form,
  .avatar-form {
    width: 100%;
  }

  .user-form {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .avatar-form {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}

/**************************************************/

.register-admin {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/admin-register.png") center/cover no-repeat;
}

.register-admin .register-admin-blur {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(121, 211, 130, 0.4);
  backdrop-filter: blur(10px);
  margin: 0;
}

.register-admin .register-admin-blur form {
  position: relative;
  top: -5%;
  border-radius: 20px;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 2rem;
  border: 2px solid rgba(70, 70, 70, 0.6);
  box-shadow: 0 0 25px rgb(39, 39, 40);
  text-align: center;
  margin: 0 auto;
  max-width: 50rem;
  color: var(--white);
}

.register-admin .register-admin-blur form .passwords .password-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-admin
  .register-admin-blur
  form
  .passwords
  .password-container
  > input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 20px 0 0 20px;
}

.register-admin
  .register-admin-blur
  form
  .passwords
  .password-container
  > span {
  width: 15%;
  height: 85%;
}

.register-admin .register-admin-blur form h3 {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 3rem;
}

.register-admin .register-admin-blur form p {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.register-admin .register-admin-blur form p span {
  color: var(--cyan-blue);
}

.register-admin .register-admin-blur form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 20px;
  background-color: var(--light);
  padding: 1.4rem;
  font-size: 2rem;
  color: var(--black);
}

/*---------------------------------------------------*/
.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: 0.5rem;
  width: 50rem;
  border: var(--border);
}

.form-container form h3 {
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.form-container form p {
  font-size: 1.8rem;
  color: var(--light-color);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.form-container form p span {
  color: var(--cyan-blue);
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--light);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}

.dashboard {
  background-color: var(--body);
}

.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.dashboard .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 250px;
  text-align: center;
  box-shadow: 0 0 15px var(--black);
  border-radius: var(--border-radius);
  background: linear-gradient(to top right, #386a30 30%, #2e6d72 70%);
  backdrop-filter: blur(100px);
}

.dashboard .box-container .box::before,
.dashboard .box-container .box::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.dashboard .box-container .box::before {
  width: 60px;
  height: 60px;
  top: 5px;
  right: 5px;
  background: linear-gradient(45deg, rgb(17, 130, 34), rgb(21, 182, 182));
}

.dashboard .box-container .box::after {
  width: 20px;
  height: 20px;
  bottom: 5px;
  left: 5px;
  background: linear-gradient(45deg, rgb(69, 157, 22), rgb(5, 167, 113));
}

.dashboard .box-container .box > * {
  width: 100%;
}

.dashboard .box-container .box h3 {
  font-size: 2.7rem;
  color: var(--white);
}

.dashboard .box-container .box h3 span {
  font-size: 2rem;
}

.dashboard .box-container .box p {
  padding: 1.3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.7rem;
  color: var(--light-color);
  margin: 1rem 0;
}

.add-products {
  background: var(--body);
  min-height: 100%;
}

.add-products form {
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--black);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.add-products form .flex {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.add-products form .flex .inputBox {
  flex: 1 1 25rem;
}

.add-products form span {
  font-size: 1.7rem;
  color: var(--light-color);
}

.add-products form .box {
  font-size: 1.8rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  padding: 1.4rem;
  width: 100%;
  margin-top: 1.5rem;
}

.add-products form textarea {
  height: 5.4rem;
  resize: none;
}

.file-buttons {
  margin: 1.4rem 0 1.4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  text-align: center;
}

.file-buttons > :last-child {
  grid-column: 1 / -1; /* Make the last item span both columns */
}

@media screen and (max-width: 33rem) {
  .file-buttons {
    grid-template-columns: 100%; /* One item in a row for screens smaller than 33rem */
  }
}

.show-products {
  background: var(--body);
}

.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.show-products .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 500px;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--black);
  border: var(--body);
  background-color: var(--white);
}

.show-products .box-container .box img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}

.show-products .box-container .box .name {
  text-align: center;
  font-size: 2rem;
  color: var(--black);
}

.show-products .box-container .box .price {
  font-size: 2rem;
  color: var(--primary);
  margin: 0.5rem 0;
}

.show-products .box-container .box .details {
  font-size: 1.7rem !important;
  padding-right: 0.5rem;
  color: var(--light-color);
  line-height: 2;
  height: 200px;
  overflow-y: auto;
}

.show-products .box-container .box .details::-webkit-scrollbar{
  width: 8px !important;
}

.show-products .box-container .box .flex-btn {
  width: 100%;
}

.update-product {
  background: var(--body);
}

.update-product form {
  background-color: var(--white);
  box-shadow: 0 0 10px var(--black);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 0 auto;
}

.update-product form .image-container {
  margin-bottom: 2rem;
}

.update-product form .image-container .main-image img {
  height: 20rem;
  width: 100%;
  object-fit: contain;
}

.update-product form .image-container .sub-image {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.update-product form .image-container .sub-image img {
  height: 5rem;
  width: 7rem;
  object-fit: contain;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 1px solid rgb(55, 96, 59);
}

.update-product form .image-container .sub-image img:hover {
  background-color: rgba(84, 156, 114, 0.5) !important;
  transform: scale(1.1);
}

.update-product form .box {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light);
  margin: 1rem 0;
}

.update-product form span {
  font-size: 1.7rem;
  color: var(--light-color);
}

.update-product form textarea {
  height: 15rem;
  resize: none;
}

.orders {
  background-color: var(--body);
  min-height: 100vh;
}

.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .orders .box-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .orders .box-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.orders .box-container .box {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  background: url(../images/order-bg-admin.png) center/cover;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 0 15px var(--black);
  transition: 300ms ease;
}

.orders .box-container .box:hover {
  transform: scale(1.02);
}

.orders .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.orders .box-container .box .blur {
  width: 100%;
  padding: 2rem;
  backdrop-filter: blur(5px);
}

.orders .box-container .box .blur .ordered-img {
  width: 100%;
  height: 200px !important;
  padding: 0 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.orders .box-container .box .blur .ordered-img::-webkit-scrollbar {
  width: 5px !important;
}

.orders .box-container .box .blur .ordered-img .ordered-img-item {
  margin-left: 10px !important;
  width: 50%;
  height: 100%;
  min-width: 80px;
  object-fit: contain;
  border-radius: 5px;
}

.orders .box-container .box .blur p {
  margin: 0.5rem 0;
  line-height: 1.8;
  font-size: 2rem;
  white-space: pre-line;
  color: #ffffff;
}

.orders .box-container .box .blur p span {
  color: #ffffff;
  font-size: large;
}

.orders .box-container .box select {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: var(--border-radius);
}

.accounts {
  background: var(--body);
  min-height: 100%;
  transition: 0.5s ease;
}

.accounts .box-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 10px), 1fr)); /* Up to three divs per row with a gap of 10px */
  grid-gap: 10px;
}

.accounts .box-container > div {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .accounts .box-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr)); /* Up to two divs per row with a gap of 10px */
  }
}

@media screen and (max-width: 768px) {
  .accounts .box-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 10px), 1fr)); /* One div per row with a gap of 10px */
  }
}

.accounts .box-container .user-card {
  position: relative;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #0fae52;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .accounts .box-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .accounts .box-container {
    justify-content: space-around;
  }
}

.accounts .box-container .user-card .user-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.accounts .box-container .user-card .user-info > *{
  width: 80%;
}

#add-new-admin {
  padding: 10px;
  padding-top: 0.5rem;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--black);
}

.accounts .box-container .user-info p {
  font-size: 2rem;
  color: var(--light-color);
  margin: 0.7rem 0;
}

.accounts .box-container .user-info p span {
  color: var(--white);
}

.after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background: linear-gradient(-150deg, #05aa26, #2a83ff);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.user-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  transition: 0.5s ease;
}

.user-info h2 {
  margin: 0;
}

.user-card:hover .after {
  transform: translateX(120%);
}

.user-card:hover {
  background: linear-gradient(30deg, #3046c0, #1c9a1e);
  transform: translateY(-5px);
}

.user-card:not(:hover) .after {
  transform: translateX(0);
}

.new-admin-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#add-new-admin {
  width: 100%;
  padding: 8rem 2rem;
}

#add-new-admin:hover p {
  transform: scale(1.2);
}

#add-new-admin p {
  font-weight: bolder;
  font-size: 3rem;
  color: var(--light-color);
  margin: 2.5rem 0;
}

#add-new-admin p span {
  color: var(--primary);
}

#add-new-admin a {
  font-size: 2rem;
  padding: 1.5rem;
}

.services {
  background-color: var(--body);
  min-height: 100vh;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .services .box-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .services .box-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.services .box-container .box {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  height: 100%;
  max-height: 460px;
  overflow-y: auto;
  background: url(../images/service-bg-admin.png) center/cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px var(--black);
  transition: 300ms ease;
}

.services .box-container .box:hover {
  transform: scale(1.02);
}

.services .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services .box-container .box .blur {
  width: 100%;
  padding: 2rem;
  backdrop-filter: blur(5px);
}

.services .box-container .box .blur p {
  margin: 0.5rem 0;
  line-height: 1.8;
  font-size: 2rem;
  white-space: pre-line;
  color: #ffffff;
}

.services .box-container .box .blur p span {
  color: #ffffff;
  font-size: large;
}

.long-text {
  padding: 2rem 0.5rem;
  height: auto;
  display: block;
  max-height: 150px;
  overflow-x: auto;
  background: rgba(65, 65, 65, 0.4);
  text-align: center;
  border-radius: var(--border-radius);
}

.services .box-container .box select {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: var(--border-radius);
}

.services .box-container .box .blur p input {
  font-size: 1.8rem;
  padding: 1.4rem;
  border-radius: var(--border-radius);
}

#menu-btn-admin {
  display: none;
}

@media (max-width: 996px) {
  html {
    font-size: 55% !important;
  }
}

@media (max-width: 890px) {
  #menu-btn-admin {
    display: inline-block;
  }
}

@media (max-width: 890px) {
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
    background-color: var(--white);
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }
}

@media (max-width: 365px) {
  .header .flex {
    flex-direction: column !important;
    /* align-items: center !important;
    justify-content: center !important; */
    width: 100% !important;
    gap: 10px !important;
  }

  .header .flex .profile {
    width: 100% !important;
    top: 100% !important;
    right: 0 !important;
  }
}
