@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #159535;
  --light-green: #149a38;
  --black: #333;
  --cyan-blue: #0c85b9;
  --gray: #605c5c;
  --light: #eceef2;
  --light-blue: #4682b4;
  --purple: #6f42c1;
  --red: #ff4e4e;
  --white: #fff;
  --border: 0.2rem solid var(--black);
  --border-radius: 10px;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  border: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 200ms !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light);
}

/*----- scroll bar -----*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #bebebe;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: #878787;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}
/*------------*/

/*------ up button ------*/
#goUpBtn {
  display: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  background-color: rgba(0, 123, 255, 0.7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
  z-index: 99999;
}

#goUpBtn i {
  font-size: 24px;
  color: white;
  background-color: transparent;
}

#goUpBtn:hover {
  background-color: rgba(48, 144, 247, 0.9);
  transform: scale(1.1);
}

#goUpBtn:active {
  transform: scale(0.9);
}
/*------------*/

/*----- headers (h1, h2, h3) ------*/
.heading {
  font-size: 4rem;
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}
/*----------*/

/*------ nav bar whole-------*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/*logo -> img + header*/
.logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
  user-select: none;
}

.logo a {
  color: var(--black);
  font-weight: 700;
  text-decoration: none !important;
}

.logo img {
  width: 30px;
}

.header .flex .logo span {
  color: var(--primary);
}

/* the text components in the center */
.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
  text-decoration: none !important;
  padding: 1rem 0;
  height: 100%;
  position: relative;
  transition: 300ms;
}

.header .flex .navbar a:hover {
  color: var(--primary);
}

.header .flex .navbar a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: auto;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  transition: width 400ms ease-in-out;
}

.header .flex .navbar a:hover::after {
  width: 100%;
  height: 4px;
}

/* icon section -> all the icons */
.header .flex .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  border-radius: var(--border-radius);
}

.header .flex .icons > * {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .icons > *:hover {
  color: var(--primary);
}
/*-------*/

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: 300ms !important;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: var(--black);
  box-shadow: 0 0 5px var(--gray), 0 0 8px var(--gray), 0 0 10px var(--gray);
  transform: scale(1.02);
}

.btn {
  background-color: var(--light-green);
}

.option-btn {
  background-color: #1d7ecd;
}

.delete-btn {
  background-color: var(--red);
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 1100;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  cursor: pointer;
  color: var(--red);
  font-size: 2.5rem;
}

.message i:hover {
  color: var(--black);
}

.empty {
  padding: 1.5rem;
  background-color: var(--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--red);
  border-radius: 0.5rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

#menu-btn {
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  .flex-btn {
    flex-flow: column;
    gap: 0;
  }
}
