<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /influxify/
    
    # If the requested file or directory does not exist, serve the 404.php page
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ 404.php [L]
</IfModule>
